
/* general/layout */
body, table, div, p{
    font-size: 13px;
    font-family: arial;
    color:black;
}
.header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
    background-color: lightblue;
}

.header a{
    text-decoration: none;
}

.header a h1{
    color: darkblue; 
}

.content {
    padding:20px;
}
.footer {
    padding: 20px;
}
.logo img {
    max-width: 60px;
}
div.alert {
    width:100%;
    padding: 10px;
    border: 1px solid red;
    color: red;
}

/* navigation */
.navigation {
    margin:10px;
}

.navigation ul {
    list-style: none;
}
.navigation ul li {
    padding: 0px;
    margin: 10px;
    display: inline;
}
.navigation ul li a {
    border: 1px solid silver;
    padding: 10px;
    text-decoration: none;;
    color: black;
    background-color: lightgray;
}
.navigation ul li a:hover {
    background-color: mediumaquamarine;
}

/* Home page */
.subject{
    margin-bottom: 3em;
    width: auto;
}

.markTable {
    padding: 0;
    width: 90%;
    min-width: 500px;
    /* border-collapse: collapse; */
}

.markTable th {
    background-color: mediumaquamarine;
}
.markTable tbody tr td{
    text-align: center;
    margin: 3px;
}

.markTable tbody tr:nth-child(even) {
    background-color: lightgray;
}
.markTable tbody tr:hover {
    background-color: burlywood;
}

/* LOGIN PAGE */
.loginForm {
    max-width: 300px;
}